html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a,
blockquote,
ul,
ol,
hr {
    width: 700px;
}

body {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    padding: 16px;
    width: 700px;
    margin: 0 auto;
    background-color: #eee;
    color: #333;
}

img {
    width: 900px;
    margin: 50px -100px;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 10px 0;
    font-family: "New York", Georgia, "Times New Roman", serif;
}

p,
a,
ol,
ul,
blockquote {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}

h1 + p {
    color: rgba(0, 0, 0, 0.4);
}

a {
    color: inherit;
}

h1 {
    margin: 50px auto;
    font-size: 38px;
    line-height: 45px;
}

h2 {
    margin-top: 40px;
    font-size: 32px;
    line-height: 36px;
}

h3 {
    margin-top: 36px;
    font-size: 28px;
    line-height: 32px;
}

h4 {
    margin-top: 32px;
    font-size: 24px;
    line-height: 28px;
}

hr {
    margin: 12px auto;
}

h2 + p,
h3 + p,
h4 + p {
    margin-top: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 32px;
}

ol {
    list-style-type: decimal;
    padding-left: 32px;
}

li {
    margin: 10px auto;
}

blockquote {
    font-style: italic;
    position: relative;
}

blockquote::before {
    content: "";
    width: 3px;
    background-color: #000;
    height: 100%;
    position: absolute;
    top: 0;
    left: -17px;
}

/* navbar styles */
nav.sidebar {
    width: 280px;
    position: fixed;
    left: 0;
    top: 50px;
    opacity: 0.3;
    transition: opacity ease 200ms;
    height: calc(100vh - 50px);
    overflow-x: scroll;
}

.sidebar:hover {
    opacity: 1;
}

nav.sidebar ol {
    width: 280px;
    font-size: 15px;
    line-height: 100%;
    margin: 10px 0;
    list-style-type: none;
    padding-left: 12px;
}

nav.sidebar a {
    font-size: 15px;
    line-height: 100%;
    text-decoration: none;
}

nav.sidebar a:hover {
    text-decoration: underline;
}

.sidebar ol ol {
    color: rgba(0, 0, 0, 0.4);
}

/* menubar styles */
nav.menubar {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}

nav.menubar img {
    width: 200px;
    margin: 0;
}

nav.menubar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
    width: fit-content;
    transition: color ease 200ms;
}

nav.menubar a:hover {
    color: #333;
}

/* about page styles */
#about {
    width: 100%;
    overflow-x: hidden;
}

/* #aboutparent::after {
    content: "";
    background: url("../images/1440.png");
    width: 1440px;
    height: 3120px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: calc(50% - 720px);
    opacity: 0.2;
} */

#about section {
    display: flex;
    justify-content: space-between;
}

#about section img {
    width: auto;
    margin: 0;
}

#about h2,
#about p {
    width: 100%;
}

#about h2 {
    font-size: 38px;
    line-height: 46px;
    margin: 0;
}

#about p {
    font-size: 24px;
    line-height: 34px;
    margin: 24px 0;
}

#about section div {
    width: 48%;
}

#first {
    margin-top: 96px;
}

#first img {
    width: 1100px;
}

#first div:nth-of-type(1),
#third div:nth-of-type(1) {
    padding: 40px 0 0 110px;
}

#second img {
    width: 650px;
}

#about #second {
    margin-top: 110px;
}

#second div:nth-of-type(2) {
    padding: 50px 20px 0 10px;
}

#about #third {
    margin-top: 190px;
    border-bottom: 1px solid #ccc;
}

#third img {
    width: 1050px;
    margin: 10px 0 0 10px;
    border-left: 1px solid #ccc;
}

#about #fourth {
    flex-direction: column;
    width: 700px;
    margin: 120px auto;
    align-items: center;
}

#fourth h2,
#fourth p {
    text-align: center;
}

#about #fourth div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#fourth a {
    text-decoration: none;
    border: 1px solid #333;
    color: #333;
    width: fit-content;
    padding: 18px 36px;
    border-radius: 4px;
    transition: all ease 200ms;
}

#fourth a.black {
    color: #eee;
    background-color: #333;
}

#fourth a:hover {
    border: 1px solid #777;
    color: #777;
    background-color: #eee;
}
